{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "inline-react-svg",
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-decorators",{
      "legacy" : true
    }],
  
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "sass"        : "./src/sass",
          "sass_pages"  : "./src/sass/pages",
          "sass_modules": "./src/sass/modules",
          "components"  : "./src/components",
          "icons"       : "./src/icons",
          "utils"       : "./src/utils",
          "views"       : "./src/views",
          "r-redux"     : "./redux"
        },
        "cwd": "babelrc"
      }
    ],
      [
        "wrap-in-js",
        {
          "extensions": ["css$", "scss$","sass$"]
        }
      ],
      [
        "babel-plugin-styled-components",
        {
            "ssr": true,
            "displayName": true,
            "preprocess": false
        }
     ]
    ],
    "ignore": []
  }