$c_white             : #fff;
$c_white_trans       : rgba(0, 0, 0, 0.8);

$c_black             : #000;
$c_black_26          : #263238;
$c_black_21          : #212121;
$c_black_41          : #414141;

/*TEXT ALL*/
$c_txt_dark          : #5A5A5A;

$c_beach             : #00A2D1;
$c_beach_b2          : #0BC1BB;
$c_beach_6d          : #6D97E1;

$c_gray              : #5A5A5A;
$c_gray_default      : #90a4ae;
$c_gray_soft         : #eceff1;
$c_gray_cc           : #ccc;
$c_gray_e0           : #e0e0e0;
$c_gray_91           : #919191;
$c_gray_95           : #9E9E95;
$c_gray_9e           : #ff1313;
$c_rgba_026          : rgba(0, 0, 0, 0.26);

$c_yellow_49         : #ffd000;
$c_yellow_75         : #FFE675;
$c_orange_00         : #ffaa00;

$c_gray_primary      : #818181;
$c_gray_secundary    : #5A5A5A;

$c_background_page   : #F9F9F9;
$c_background_inputs : #F4f4f4;

$c_green_20          : #20E31D;
$c_error_e3          : #E34A1D;

